body {
  margin: 0;
  font-family: 'Segoe UI';
  background: #0f172a;
  color: white;
}

.container {
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 200px;
  background: #020617;
  height: 100vh;
  padding: 20px;
}

.sidebar h2 {
  text-align: center;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
  margin: 10px 0;
}

.sidebar li:hover,
.sidebar li.active {
  background: #3b82f6;
}

/* Main */
.main {
  flex: 1;
  padding: 20px;
}

.section {
  display: none;
}

.section.active {
  display: block;
}

/* Cards */
.cards {
  display: flex;
  gap: 20px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.stat {
  flex: 1;
  text-align: center;
}

/* Inputs */
input, select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 6px;
  background: #0f172a;
  color: white;
}

/* Button */
button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: #3b82f6;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #2563eb;
}

/* Lead card */
.lead {
  background: #020617;
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
}
