body {
  font-family: Arial;
  text-align: center;
  background: #f4f4f4;
}

h1 {
  background: blue;
  color: white;
  padding: 10px;
}

.form {
  margin: 20px;
}

input {
  padding: 10px;
  margin: 5px;
}

button {
  padding: 10px;
  background: green;
  color: white;
  border: none;
}

#list div {
  background: white;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}